<html>
<head>
    <meta charset="UTF-8">
    <title>{{ @site.name }}</title>
</head>
<body>
<nav>
    <check if="{{ @user.id }}">
        <true>
            <p>Добро пожаловать, {{ @user.username }}</p>
            <ul>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </true>
        <false>
            <ul>
                <li><a href="/login">Авторизироваться</a></li>
            </ul>
        </false>
    </check>
</nav>
<h1>{{ @site.name }}</h1>

<p>{{ @site.description }}</p>

<ul>
    <repeat group="{{ @list }}" value="{{ @item }}">
        <li>{{ @item }}</li>
    </repeat>
</ul>
</body>
</html>